
stages:
- build
- test
- deploy
- report

.docker:
  after_script:
  - docker logout
  before_script:
  - docker login -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_PASSWORD
  image:
    name: docker:19.03.11
  services:
  - docker:19.03.11-dind

.gcloud:
  image:
    name: kshuleshov/otus-kuber-2020-04_gcloud-helmfile
  rules:
  - allow_failure: true
    when: manual

.build:docker:
  extends: .docker
  rules:
  - changes:
    - $SRC_PATH/*
  script:
  - cd $SRC_PATH
  - docker pull $IMAGE_TAG || true
  - docker build --cache-from $IMAGE_TAG --tag $IMAGE_TAG .
  - docker push $IMAGE_TAG
  stage: build
  variables:
    IMAGE_TAG: IMAGE_TAG
    SRC_PATH: SRC_PATH

build:manager:
  extends: .build:docker
  variables:
    IMAGE_TAG: $DOCKER_REGISTRY_USER/otus-kuber-2020-04_ingress-host-manager:latest
    SRC_PATH: gopath/src/ingress-host-manager

build:gcloud:
  extends: .build:docker
  variables:
    IMAGE_TAG: $DOCKER_REGISTRY_USER/otus-kuber-2020-04_gcloud-helmfile:latest
    SRC_PATH: gcloud

test:manager:
  image:
    name: golang:1.14
  rules:
  - changes:
    - gopath/src/ingress-host-manager/*
  script:
  - cd gopath/src/ingress-host-manager
  - make envtest SHELL=/bin/bash
  stage: test

gcloud:create-cluster:
  artifacts:
    paths:
    - deploy.env
    reports:
      dotenv: deploy.env
  environment:
    name: gcloud
    on_stop: gcloud:delete-cluster
    url: https://sock-shop.$DYNAMIC_ENVIRONMENT_IP.xip.io
  extends: .gcloud
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then HF_ENVIRONMENT=production; fi
  - ./create-cluster.docker.sh
  - DYNAMIC_ENVIRONMENT_IP=$(./get-ingress-ip.sh)
  - echo "DYNAMIC_ENVIRONMENT_IP=$DYNAMIC_ENVIRONMENT_IP" >> deploy.env
  stage: deploy

gcloud:delete-cluster:
  environment:
    action: stop
    name: gcloud
  extends: .gcloud
  script:
  - ./delete-cluster.docker.sh
  stage: deploy

pages:
  artifacts:
    paths:
    - public
  image:
    name: alpine
  needs:
  - job: gcloud:create-cluster
    artifacts: true
  rules:
  - allow_failure: true
  script:
  - source deploy.env
  - sed -e "s/0.0.0.0/$DYNAMIC_ENVIRONMENT_IP/" -i public/index.html
  stage: report
